html{
    width: 1480px;
    height: 1282px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-top:60px;

    background: #FFFFFF;
}
header{
    width: 1283px;
    height: 240px;
}
header a.logo{
    width: 334px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;
    
    color: #000000;
}
header nav ul{
    display: inline-flex;
    justify-content: center;
    width: 1280px;
    height: 70px;
    margin-top: 50px;
    background: #35444F;
}
header nav ul li{
    display: inline-flex;
    border-left: 1px solid #FFFFFF;
}
header nav ul li a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding:0px 32px 0px 32px;
}
header nav ul li a:hover{
    background: #222F3A;
}
body{
    width: 1280px;
}
main{
    margin-top: 50px;
    width: 1280px;
}
main aside{
    float:left;
    width: 344px;
    height: 400px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
main aside nav ul{
    display: flex;
    flex-wrap: wrap;
    height:400px;
}
main aside nav ul li{
    width:100%;
}
main aside nav ul li a{
    display: flex;
    align-items: center;

    margin-left: 45px;
    height: 80px;

    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    text-decoration: none;
    color: #485863;
}
main aside nav ul li:hover{
    padding-left:30px;

    background-color: #DBDBDB;
}
.container-block{
    display: inline-flex;
    gap: 50px;
}
.container-img
{
    float:right;

    width: 883px;
    height: 529px;

    border: 1px solid #000000;
}
.container-img img{
    display: block;

    margin: auto;
    padding:75px 0px;
}
.first-text
{
    float:right;

    width:885px;
    margin-top:37px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;
}
.second-text
{
    float:right;

    width:885px;
    margin-top:34px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;
}
footer{
    display:block;

    width: 1280px;
    height: 69px;

    background: rgba(99, 105, 110, 0.48);
}
footer nav ul{
    display: inline-flex;
    justify-content: center;
}
footer nav ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
footer nav ul li a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 69px;
    margin: 0px 32px;
    color: #0C1927;
}
footer nav ul li a:hover
{
    height: 50px;
    border-bottom: 1px solid;
    color:#3181A6;
}
footer .text
{
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 69px;
    margin-right: 40px;
}